.sort-part {
  border-top: 1px solid @color-border-light;
  padding-top: 15px;
  padding-bottom: 20px;

  .filter-part {
    .clearfix();

    float: left;

    .filter-block {
      float: left;
      margin-right: 20px;
      position: relative;


      &.open-sort {
        z-index: 50;

        > a {
          pointer-events: none;
        }
      }

      .sort-list,
      .filter-list {
        width: 0;
        overflow: hidden;

        position: absolute;
        left: -20px;
        top: -15px;
        background: @color-white;
        box-shadow: 0 2px 10px rgba(0,0,0,.1);
        z-index: 20;
        border-radius: 2px;
        padding-top: 43px;

        > span {
          .font-size(16);

          display: block;
          border-top: 1px solid @color-white;
          border-bottom: 1px solid @color-white;
          padding: 12px 20px;
          positioN: relative;

          &:before {
            .size(0, 100%);

            position: absolute;
            transition: all .2s ease-out 0s;
            left: 0;
            top: 0;
            background: @brand-color;
            opacity: .1;
            content: "";
          }

          &:hover {

            border-color: @color-border-light;
            cursor: pointer;

            &:before {
              transition: all .2s ease-out 0s;

              width: 100%;
            }
          }

          .item-form-checkbox {

            padding-right: 40px;
            margin-bottom: 0;
            padding-left: 0;

            &:before {
              .font-size(10);

              color: @brand-color;
              border: none;
              font-family: 'spiral-icon';
              content: "\e805";
              top: 5px;
              left: 224px;
            }

            span:before {
              .font-size(10);

              color: @brand-color;
              font-family: 'spiral-icon';
              content: "\e806";
              background: transparent;
              top: 5px;
              left: 224px;
            }

             [type=checkbox]:checked + span {
               color: @brand-color;
            }

            .item-label {
              .font-size(16);

              font-weight: normal;

              input:checked + span {
                color: @brand-color;
              }
            }
          }
        }
      }

      a {
        .font-size(16);

        color: @color-text-dark;
        padding-right: 20px;
        position: relative;
        display: block;
        z-index: 25;
        text-decoration: none;

        &:after {
          font-family: 'spiral-icon';
          font-size: 3px;
          line-height: 3px;
          positioN: absolute;
          right: 0;
          top: 8px;
          display: block;
          content: '\e800';
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }
}

.search-part {
  float: right;
  position: relative;

  .search-link {
    color: @color-text-dark;
    font-size: 18px;
    text-decoration: none;

    display: none; //hide
  }

  .search-form {
    position: absolute;
    width: 240px;
    top: -15px;
    right: 0;

    &:after {
      font-family: 'spiral-icon';
      content: '\e804';
      position: absolute;
      font-size: 18px;
      color: @color-text-dark;
      top: 12px;
      left: 12px;
      z-index: 5;

    }

    .item-input {
      padding-left: 40px;
    }

  }
}
